*{
	margin: 0px;
	padding: 0px;
}
.paraone{
	width:100%;
	height:600px;
	background-image: url(car.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;

}

.paraone h2{
	position:relative;
	left:400px;
	top: 200px;
	width: 50px;
	height: 40px;
	padding: 10px;
	background-color: black;
	color: white;
}

.paratwo{
	width:100%;
	height:600px;
	background-image: url(car1.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;

}

.paratwo h2{
	position:relative;
	left:400px;
	top: 200px;
	width: 90px;
	height: 40px;
	padding: 10px;
	background-color: black;
	color: white;
}

.para{
	padding: 50px;
	text-align: center;
	height: 80px;
	background-color: black;
	color: white;
	font-size: 20px;
}